.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#locations {
  width: 90%;

  > ul {
    list-style-type: none;
    padding: 0%;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.location {
  border: 1px solid #2440F2;
  background-color: #2440F2;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.location:hover {
  background-color: white;

  > a > div {
    color: #2440F2;
  }
}

.location-name {
  font-size: calc(45px + 2vmin);
}

.location-address, .location-distance {
  font-size: calc(15px + 2vmin);
  display: inline-block;
  width: 40%;
}

.lefty {
  text-align: left;
}

.righty {
  text-align: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
